---
layout: default
---

{% if page.path contains '/category' %}

{% endif %}

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else if site.background %}
<header class="masthead" style="background-image: url('{{ site.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          {% if page.url contains '/category/' %}
            {% assign category_coll = site.post_categories | where: "slug", page.slug %}
            {% assign pageTitle = category_coll[0].name %}
          {% else %}
            {% assign pageTitle = page.title %}
          {% endif %}
          <h1>{{ pageTitle }}</h1>
          {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}

    </div>
  </div>
</div>
